.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.main {
  display: flex;
  width: 100%;
  flex: 1;
  min-height: 0;
}

.code {
  flex: 2;
  height: 100%;
  border-right: 1px solid var(--mantine-color-default-border);
  overflow: auto;
}

.result {
  flex: 1;
  height: 100%;
  overflow: auto;
}

[data-mantine-color-scheme='light'] .result {
  background-color: var(--mantine-color-gray-0);
}

[data-mantine-color-scheme='dark'] .result {
  background-color: var(--mantine-color-dark-6);
}

.resultContainer {
  width: 100%;
}

.resultLabel {
  display: flex;
}

.resultLabel::before,
.resultLabel::after {
  border-top: 1px solid var(--mantine-color-default-border);
  content: '';
  flex: 1 1 auto;
  margin: auto;
}

.resultLabel::before {
  margin-right: 16px;
}

.resultLabel::after {
  margin-left: 16px;
}
